div{
background-color: rgb(35, 128, 39);
padding: 200px;
margin: 50px ;
}
#apple{
background-color: burlywood;
padding: 200px;
margin: 50px;
}
footer{
background-color: rgb(68, 193, 193);
padding: 200px;
}